@font-face {
    font-family: SegoeUI;
    src: url(https://mock-css.firebaseapp.com/Segoe-UI.woff);
    font-weight: 400;
}

body {
    font-family: 'SegoeUI';
}

label {
    color: #222222;
    font-size: 11px;
    line-height: 24px;
    font-weight: normal;
}

.main-header {
    background-color: #EFEFEF;
}

.main-container {
    overflow-y: auto;
}

.input-sm, select.input-sm {
    height: 40px;	
    border: 1px solid #D4D7DC;	
    border-radius: 3px;		
    background-color: #FFFFFF;
}

.topopps-opp-details-view .form-group {
    display: flex;
    align-items: center;
}

.topopps-opp-details-view .panel,
.topopps-opp-details-view .panel-heading,
.topopps-opp-details-view .list-group-item {
   border-color: transparent;
}

.topopps-opp-details-view .panel-default {
    box-shadow: none;
}

.topopps-opp-details-view .panel-default > .panel-heading {
    background-color: transparent;
    border-bottom: none;
}

.topopps-opp-details-view .panel-default > .panel-heading strong {
    height: 24px;
    color: #222222;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
}

.topopps-opp-details-view .list-group-item,
.topopps-opp-details-view .panel-body dd  {
    border-radius: 3px;	
    border: none;
    margin-bottom: 2px;
    font-size: 13px;
    line-height: 24px;
    padding: 6px 8px;
    background-color: #F7F7F7;
}

.topopps-opp-details-view .panel-body dd p,
.topopps-opp-details-view .mini-table label {
    margin-bottom: 0;
}

.topopps-opp-details-view .mini-table span {
    font-size: 11px;
    font-weight: 600;
    line-height: 17px;
    margin-left: 4px;
}

.topopps-opp-details-view .health svg text {
    font-size: 1.1em !important;
}

.btn.new-task {
    border-radius: 3px;
    background-color: #9DCA3A;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.09);
    border: 1px solid #D6D6D6;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 20px;
}